#my-works{
 padding: 72px 24px 144px 24px;
 
    #works{
        padding-top:  56px; 
        margin-inline: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;

        .card{
            text-align: left;
            background-color: var(--gray-300);
            padding: 12px 12px 17px 12px;
            border-radius: 12px;
            max-width: 330px;
            border: 1.5px solid var(--gray-300);

            &:hover {
                border: 1.5px solid var(--gray-400);
                cursor: pointer;
            }
            img {
                max-width: 304.5px;
                border-radius: 8px;
            }

            h4{
                padding-block:24px 8px;
            }
            p{
                color: var(--gray-500);
            }
        }
    }
}

#my-services{
  background-color: var(--gray-100);
  padding: 88px 24px 120px 24px;

  #services{
      margin-inline: auto;
      padding-top: 56px;
      max-width: 888px;
      display: flex;
      justify-content: center;
      gap: 24px;

    .card{
        text-align: left;
        width: 280px;
        border: 2px solid var(--gray-200);
        border-radius: 12px;
        padding: 20px;
      p{
        color: var(--gray-500);
        padding-top:8px;
      }
        img {
        padding-bottom: 20px;
        max-width: 48px;
      }
    }
  }
}

#contact{
  padding-top: 128px;
  background-image: url(../assets/image/Background_Contacts.png);
  height: 787px;
  background-size: contain;
  background-repeat: no-repeat;
  #buttons{
    max-width:400px;
    margin-inline:auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
  }

  p{
    color:var(--gray-500);
    padding-block: 24px;
    
  }
  
  .button{
    padding: 20px;
    background-color: var(--gray-300);
    border-radius: 8px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border: 1.5px solid var(--gray-300);

    span {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--gray-500);
    }
    &:hover{
      border: 1.5px solid var(--blue-color);
    }
  }

}
